@charset "UTF-8";

body{
    background-color: lightseagreen;
    font: normal 14pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}

select{
    width: 200px;
}

div#principal > input{
    margin: 10px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}