@charset "UTF-8";

body{
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1{
    text-align: center;
}

section{
    margin: auto;
    padding: 20px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 120px
}

section > input{
    margin: 7px;
}

input#botao{
    margin-left: 0px;
    margin-top: 20px;
}

footer > p{
    text-align: center;
    font-size: 12px;
}