@charset "UTF-8";

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: white;
}

div{
    margin: auto;
    width: 70%;
    height: 320px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

div > h2{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}


div > img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 160px;
    border-radius: 50%;
}

p{
    text-align: center;
    font-size: 14px;
    color: white;
}